html, body, p, button{
	padding: 0;
	margin: 0;
}
@font-face {
	font-family: vision-heavy;
	src: url(media/font/Vision-Heavy.otf);
}
@font-face {
	font-family: bariol;
	src: url(media/font/Bariol_Regular.otf);
}
body{
	width: 100%;
	height:100%;
	font-family: bariol;
}
.container{
	width: calc(100% - 20px);
	padding: 10px;
}
.msg-alert{
	display: flex;
	justify-content: space-between;
	height: 30px;
	width: 100%;
}
.info{
	min-width: 55px;
	background: red;
	color: white;
	text-align: center;
	line-height: 30px;
	background-color: #ad040a;
}
.second{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
}
.msg-alert marquee{
	width: 100%;
	background: rgba(255,255,255,0.8);
	line-height: 30px;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 16px;
}
.msg-alert marquee span{
	color: #ff0009;
}
.blue{
	background: #1647c6;
}
.m-blue span{
	color: #3972ff !important;
}