.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.chat-window {
  position: absolute;
  bottom: 4px;
  left: 430px;
  width: 500px;
  height: 140px;
  padding:15px;
  padding-bottom: 45px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-duration: 2s;
}


.chat-messages {
  position: relative;
  height: 95%;
  font-size: 1.2rem;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}


.chat-input {
  font-size: 1.2rem;
  position: absolute;
  bottom: 19px;
  left: 450px;
  width: 490px;
  background-color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
}

.prefix {
  position: absolute;
  margin-top: 2px;
  left: 4px;
}

textarea {
  font-size: 1.1rem;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 27px;
  color: white;
  background-color: transparent;
  width: 100%;
  border-width: 0;
  height: 34px;
  overflow: hidden;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
  margin-bottom: 3px;
}

.multiline {
  margin-left: 1.5rem;
  text-indent: -1.5rem;
  white-space: pre-line;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 1.1rem;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 1.0);
  width: 100%;
}

.help {
  color: #b0bbbd;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 5px;
}


@media screen and (max-width: 1930px) {
  

  .chat-window {
    left: 350px;
  }

  .chat-input {
    left: 365px;
  }
  
}

@media screen and (min-width: 2550px) and (max-height: 1100px){
      
  .chat-window {
    left: 4px;
    width: 373px;
    bottom:41px;
    height:215px;
  }
  .chat-input {
    font-size: 1.2rem;
    bottom: 56px;
    left: 19px;
    width: 373px;
  }

}
