body
{
    cursor: crosshair !important;
	margin: 0%;
	padding: 0%;
	background-size: 20%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: 'Quicksand', sans-serif;
}

#background
{
    width: 100%;
    height: 100%;
	background-color: #2b1d2c;
	background-image: url(background.jpg);
    background-size: cover;
    filter: blur(1px);
    position: fixed;
    left: 0%;
    right: 0%;
    z-index: 1;
    background-position: 0% 0%;

    display: block;
}

.loading {
    width: 70px;
    height: 70px;
    margin-left: 48%;
    margin-top: 18%;
}

h1 {
    color: rgba(247, 247, 247, 0.753);
    font-family: 'Quicksand', sans-serif;
    font-size: 80pt;
    margin-left: 25%;
    margin-top: 19%;

}

h2 {
    color: rgba(150, 150, 150, 0.753);
    font-family: 'Quicksand', sans-serif;
    font-size: 37pt;
    margin-top :-5%;
    margin-left: 33%;

}

p {
    color: rgba(253, 253, 253, 0.425);
    font-family: 'Quicksand', sans-serif;
    font-size: 13pt;
    margin-left: 1%;

}

#audio {

}