@font-face {
  font-family: bankgothic;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf') /* TTF file for CSS3 browsers */
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Regular.ttf') /* TTF file for CSS3 browsers */
}



.menu {
  font-family: lato;  
  min-width  : 350px;
  color      : white;
  position   : absolute;
}



.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%); 
}

.menu.align-top-left {
  left: 40;
  top : 40; 
}

.menu.align-top {
  left: 50%;
  top : 40;
  transform: translate(-50%, 0); 
}

.menu.align-top-right {
  right: 20;
  top  : 40;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {	
  font-size: 0%;
  color: white;
  /* border-top-left-radius : 15px 15px;
  border-top-right-radius : 15px 15px; */
  background:url('https://image.noelshack.com/fichiers/2019/05/1/1548655006-pangora.png');
  background-size: cover ;
  background-repeat: no-repeat;
  text-align      : center;
  height          : 85px;
  line-height     : 70px;
}

.menu .bottom {
  background: linear-gradient( to right, #0a3d7e, #2c6bbb);
  height: 5px;
}

.menu .menu-items {
  max-height : 600px;
  overfow: hidden;
  overflow-y : auto;
}

.menu .menu-items::scrollbar {
  display:none;
}

.menu .menu-items::-webkit-scrollbar {
  display:none;
}

.menu .menu-items .menu-item {
  height: 40px;
  font-size: 15px;
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  line-height: 40px;
  color: #ffffff;
  padding: 0 25px;
  text-align: left;
  border-bottom: black solid 1px;
}

.menu .menu-items .menu-item.selected {
  background-color: rgba(16, 78, 170, 0.75);
  border-bottom-color: rgba(16, 78, 170, 0.75);
}

.green {
  color: green;
}

.red {
  color: red;
}

.grey {
  color: grey;
}

.blue {
  color: #269CDF;
}

.float-right{
  float:right;
}